.git
.github
.env
/vendor
/node_modules
/public/storage
/public/build
/storage/logs
# Storage maintenance for deployments
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
!**/ .gitkeep
